<header class='top-header'>

<div class='nav'>
    <ul class='lists-left'>
    <%= link_to image_tag("test_icon.png", class: "top-icon"), root_path %>
    </ul>
    <ul class='lists-center'>
          <% if user_signed_in? %>
           <% if current_page?(current_user)%>
            <div class= "mypage">My Page</div>
           <% end %>
          <% else %>
           <div class= "blo-title">BLO BLOG</div>
          <% end %>
    </ul>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
      <% if user_signed_in? %>
        <% if current_page?(current_user)%>
          <div class= "lists">
          <li class='profile'><%= link_to "いいね一覧", post_likes_path(current_user) %></li>
          <li class='profile'><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          </div>
        <% else %>
          <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname", data: {"turbolinks"=>false} %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>

    </ul>
</div>
</header>