<div class='form-wrap'>
  <div class='form-header'>
    <ul class='lists-left'>
      <%= link_to image_tag("test_icon.png", class: "top-icon"), root_path %>
    </ul>
    <div class='form-header-text edit-text'>
      Edit
    </div>
    <div class = "lists-right">
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </div>
  </div>
</div>

<%= form_with model: @user , local: true do |f| %>



<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">アイコン</label>
  </div>
  <div class="user-edit">
    <%= image_tag @user.image, class: "test-image"%>
    <div class="yajirushi">➡︎</div>
    <div id="image-list">
      <label class="form-image">
        <%= f.file_field :image,class: 'label-test'%>
        <%= image_tag "sample.png", class: "test-image", id: "message_image"%>
    </div>
  </div>
</div>

<div class="form-group">
    <div class='form-text-wrap'>
     <label class="form-text">ニックネーム</label>
    </div>
    <%= f.text_field :nickname, class:"input-default", id:"nickname",autofocus: true %>
</div>

  <div class="form-group">
    <div class='form-text-wrap'>
    <label class="form-area">自己紹介</label>
    </div>
    <%= f.text_area :introduction, autocomplete: "introduction",rows:"7" ,maxlength:"1000" %>
  </div>

  <div class="actions">
    <%= f.submit "Editing completed",class:"register-red-btn" %>
  </div>
<% end %>