<%= render "devise/shared/header" %>

<div class="user-contents">
  <div class = "box26-all">
    <div class = "box26 box27">
      <span class="box-title box27-title">アイコン</span>
      <p><%= image_tag current_user.image, class: "test-image" %></p>
    </div>
    <div class="box26">
      <span class="box-title">自己紹介</span>
      <p><%= markdown(current_user.introduction).html_safe %></p>
    </div>
  </div>
  <p class = "blolist"><%= current_user.nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <div class="postlist">
      <p><%= image_tag post.image,class: 'imgtag' %></p>
      <p class="post-titles"><%= post.title %></p>
    </div>
  <% end %>
  <% end %>
</div>