<%= render "devise/shared/header" %>

<div class="user-contents">
  <p><%= current_user.introduction %></p>
  <p><%= current_user.nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
  <%= image_tag post.images[0] %>
    <%# <div class="content_post" style="background-image: url(<%= post.images[0] %>
      <p><%= post.title %></p>
      <%# <span class="name"><%= post.name %></span>
    </div>
  <% end %>
</div>