  <li class="post">
<%= link_to post_path(post.id) do%>
    <%= image_tag post.image, class: "post-image" %>
    <div class="post-title">
      <%= post.title %>
      <div class="post-contents">
        <div class="post_content">
          <%= post.user.nickname %>
        </div>
        <div class="post_content">
          <%= post.created_at %>
        </div>
<% end %>
        <div class="likes_heart" id="post_<%= post.id %>">
          <%= render "likes/like", post: post %>
        </div>
      </div>
    </div>
  </li>



