
<%= render "devise/shared/header" %>

<div class="index-post">
  <h1>ブログ一覧</h1>
  <%= link_to "投稿する", new_post_path, class: "link-btn"%>
</div>


<div class="post-main">
  <ul class="posts">
    <%= render partial: "post", collection: @posts %>
  </ul>
  <div class="side-bar">
    <div class="side-profile">
      <div class="profile-text">profile</div>
      <% if user_signed_in? %>
        <div class="pro-name">ニックネーム:<%= current_user.nickname %></div><br>
        <%= image_tag current_user.image ,class: 'pro-img' %>
        <div class="pro-info">自己紹介:<%= current_user.introduction %></div><br>

      <% end %>

    </div>
    <div class="side-post">
      2020年12月31日  
    </div>
  </div>
</div>
<div class="page">
  <%= paginate @posts %>
</div>
