<%= render "devise/shared/header" %>


<div class="show-contents">
  <div class="show-post">
    <%= image_tag @post.image, class: "show-image" %>
    <h1 class="show-title">
      <%= @post.title %>
    </h1>
  </div>
  <div class="show-text">
    <%= markdown(@post.text).html_safe %>
  </div>
  <%# コメント機能ここから %>
  <div id="comments">
    <div class = "kururi">
    <div class = "com-index">コメント一覧</div>
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <div class="user-info"><%= comment.user.nickname %>さん</div>
        <p class = "comment-text"><%= comment.comment%></p>
        <%= link_to post_comment_path(post_id: @post.id, id: comment.id), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
    <% if user_signed_in? && current_user.id != @post.user_id %>
      <%= form_with model: [@post, @comment], id: "comment_form", local: true do |f| %>
        <%= f.text_area :comment ,placeholder:"コメントを入力してね!", class: "comment-field" %>
        <%= f.submit "コメントする" ,class:"comment-btn" %>
      <% end %>
    <% end %>
  <%# ここまで %>
  <div class="show-links">
    <div class="show-link">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to "編集する", edit_post_path(@post.id) %>
        <%= button_to '削除する', post_path(@post.id), method: :delete, id: "post-delete" %>
        <%#= link_to "削除する", post_path(@post.id), method: :delete, id: "post-delete" %>
      <% end %>
    </div>
    <div class="show-link">
      <%= link_to "トップページに戻る", root_path%>
    </div>
  </div>
</div>


