<%= render "devise/shared/header" %>


<div class="show-contents">
  <div class="show-post">
    <%= image_tag @post.image, class: "show-image" %>
    <h1 class="show-title">
      <%= @post.title %>
    </h1>
  </div>
  <div class="show-text">
    <%= markdown(@post.text).html_safe %>
  </div>
  
  <%# コメント機能ここから %>
  <div id="comments">
    <%= render partial: 'comments/index', locals: {comments: @comments} %>
  </div>
    <% if user_signed_in? && current_user.id != @post.user_id %>
      <%= render partial: 'comments/form', locals: {comment: @comment, post:@post} %>
    <% end %>
  <%# コメント機能ここまで %>

  <div class="show-links">
    <div class="show-link">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to "編集する", edit_post_path(@post.id) %>
        <%= button_to '削除する', post_path(@post.id), method: :delete, id: "post-delete" %>
        <%#= link_to "削除する", post_path(@post.id), method: :delete, id: "post-delete" %>
      <% end %>
    </div>
    <div class="show-link">
      <%= link_to "トップページに戻る", root_path%>
    </div>
  </div>
</div>


